{% extends "layout.html" %}

{% block content %}


    <h1 class='logo'>{&#9833}</h1>
    <h1 class="pb-4">Hits the Spot</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-1">Vibe Generation. Vibe Curation. Vibe Creation.</p>
      <p class="lead mb-4">Guaranteed &#128527</p>


      
        <div class="btn btn-outline-secondary">
          <!-- button takes you to auth -> callback -> landing-->
            <a href="/landing"><i class="fab fa-spotify"></i> Connect with Spotify</a>
        </div>
    </div>

{% endblock content %}


