{% extends "layout.html" %}

{% block content %}
    <h1 class='logo'>{&#9833}</h1>
    <h1 class='pb-4'>Vibe Rater</h1>

    <div class="container pt-4 pb-3">
        <h3>Think you've got the vibes? &#129320 Let us be the judge of that.</h3>
    </div>

    <form method="POST">
        <div class="form-group">
        <label for="playlistForm">Choose one of your playlists</label>
            <select class="form-select custom-select form-control" id="playlistForm" name="playlist">

                <option value="" disabled>Choose option</option>

                <!-- iterate through every playlist (value selected = id, value displayed = name)-->
                {% for i in range(playlist_length) %}
                    <option value="{{ playlist_names[i] }}">{{ playlist_names[i][0] }}</option>
                {% endfor %}

            </select>
        </div>
        <!-- submits put request -->
        <button type="submit" class="btn btn-outline-secondary">Rate my Vibes!</button>
    </form>


        



{% endblock content %}